body {
    padding: 20px;
    font-family: sans-serif;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.Etiqueta-btn {
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

.etiqueta-qrcode {
    padding: 10px 20px;
    background-color: #4B185A;
    color: white;
    border: none;
    cursor: pointer;
    width: 100%;
}

@media print {
    body {
        margin: 0;
        padding: 0;
        visibility: hidden;
    }

    #label-content {
        visibility: visible;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        font-size: 10pt;
        line-height: 1.2;
        white-space: pre-wrap;
        padding: 5mm;

    }
}