
.qr-code-generator * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#qrcode {
    width: 128px;
    margin-bottom: 10px;
}

#qrcode a {
    font-size: 0.8em;
}

input {
    box-shadow: 0px 2px 6px black;
    color: white;
    background-color: rgba(0, 0, 0, 0.30)
}

.qr-url,
.qr-size {
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.qr-url {
    width: 100%;
    margin-bottom: 10px;
}

.qr-size {
    width: 45%;
}

.generate-qr-code {
    display: block;
    width: 100%;
    margin: 0.5em 0 0;
    padding: 0.25em;
    font-size: 1.2em;
    border: none;
    cursor: pointer;
    background-color: #000000;
    box-shadow: 0px 2px 6px black;
    color: #fff;
}