body {
    width: 200px;
    padding: 10px;
    font-family: sans-serif;
    border: 1px solid black;
    border-radius: 5px;
}

button {
    color: white;
    width: 100%;
    padding: 10px;
    margin-bottom: 8px;
    cursor: pointer;
    border: none;
    background-color: #007bff;
    border-radius: 4px;
    font-size: 14px;
    box-shadow: 0px 2px 6px black;
    
}

button:hover {
    background-color: #e0e0e0;
}

.print-btn {
    background-color: #4CAF50;
    color: white;
}

.print-btn:hover {
    background-color: #e0e0e0;
}

.qr-code-generator {
    display: none; 
    margin-top: 10%; 
    text-align: center; 
}

.qr-code-generator * {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

#btn-print-qrcode {
    display: none;
}

#qrcode-container {
    width: 128px; 
    margin-left: auto; 
    margin-right: auto;
    
    margin-bottom: 10px;
}

#qrcode-container canvas, 
#qrcode-container img, 
#qrcode-container div {
    display: block;
    margin: 0 auto;
}


#qrcode-container a { 
    font-size: 0.8em;
}

input {
    box-shadow: 0px 2px 6px black;
    color: white;
    background-color: rgba(0, 0, 0, 0.30)
}

.qr-url,
.qr-size {
    padding: 0.5em;
    border: 1px solid #ddd;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.qr-url {
    width: 100%;
    margin-bottom: 10px;
}

.qr-size {
    width: 45%;
}

.generate-qr-code {
    display: block;
    width: 100%;
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    cursor: pointer;
    background-color: #007bff;
    box-shadow: 0px 2px 6px black;
    color: #fff;
}